.section {
    width: 320px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;


}
.section li {
    list-style-type: none;
    text-decoration: none;
    width: 210px;
}

.list {
    position: relative;
}


.delivery::before {
    display: inline-block;
    width: 52px;
    height: 51px;
    content: "";
    background-image: url(../../assets/icon/003-truck.svg);
    position: absolute;
    left: -76px;
    right: 50%;
}


.avaliability::before {
    display: inline-block;
    width: 52px;
    height: 51px;
    content: "";
    background-image: url(../../assets/icon/shop.svg);
    position: absolute;
    left: -76px;
    right: 50%;
}


.product::before {
    display: inline-block;
    width: 52px;
    height: 51px;
    content: "";
    background-image: url(../../assets/icon/001-send.svg);
    position: absolute;
    left: -76px;
    right: 50%;
}

.provider::before {
    display: inline-block;
    width: 52px;
    height: 51px;
    content: "";
    background-image: url(../../assets/icon/001-group.svg);
    position: absolute;
    left: -76px;
    right: 50%;
}


@media screen and (min-width: 768px) {

    .section{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    }

    .section li {
        width: 230px;
        padding-right: 20px;
    }
  }


@media screen and (min-width: 1200px) {
    .section {
        width: 100%;
        margin-bottom: 10px;
    }

    .section li {
        width: 210px;
        padding-right: 0;
    }
}
