
.checkBoxLabel {
  display: flex;
  align-items: center;
}

.inputError {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

input:focus:invalid {
  outline: none;
}

input:focus:valid {
  box-shadow: 0 0 5px 1px green;
}

input:valid {
  box-shadow: 0 0 5px 1px green;
}

#errorInput {
  box-shadow: 0 0 5px 1px red;
}
